<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Perfecto-Suite" time-out="900000">

    <listeners>
        <listener class-name="com.quantum.tests.CustomJUnitListener"/>
  
    </listeners>
    <test name="TC56 - Search and Validate">
        <packages>
            <package name="com.quantum.tests"/>
        </packages>
    </test>

</suite>